<!DOCTYPE html>
<html>
	<head>
		<title>Kahtizzle Board Test</title>
		<!-- <link rel="stylesheet" type="text/css" href="testboard.css" /> -->
	</head>
	<body>
		<h1>Dashboard {{dashboardCtrl.testhex}}</h1>

		<h2>Sheep Hex Example (Refresh Page for new numbers)</h2>
		<svg width="180" height="156" ng-repeat="hex in dashboardCtrl.allhexes">
			<defs>
				<pattern id="img" patternUnits="userSpaceOnUse" width="180" height="156">
					<image ng-href="../images/{{hex.tile_type}}.jpg" xlink:href="" x="0" width="185" height="160" />
				</pattern>
				<filter id="f1" x="0" y="0">
					<feGaussianBlur in="SourceGraphic" stdDeviation="3" />
			    </filter>
			</defs>
			<!-- EXAMPLE SHEEP TILE -->
			<polygon points="180,78 135,0 45,0 0,78 45,156 135,156" fill="url(#img)"/>
			<circle cx="90" cy="78" r="33" stroke="black" stroke-width="1" fill="RGB(230,217,185)" filter="url(#f1)" />
			<!-- CENTER OF ROLL NUMBER CIRCLE -->
			<!-- <circle cx="90" cy="78" r="1" fill="red" /> -->
			<text fill="RGB(62,62,62)" x="90" y="58" font-size="10" text-anchor="middle" alignment-baseline="central">
				{{hex.circle.chance}}%
			</text>
			<text fill="{{hex.circle.color}}" x="90" y="78" font-size="36" text-anchor="middle" alignment-baseline="central">
				{{hex.circle.number}}
			</text>
			<text fill="{{hex.circle.color}}" x="90" y="90" font-size="24" text-anchor="middle" alignment-baseline="central">
				{{hex.circle.dots}}
			</text>
		</svg>
	</body>
</html>