<!DOCTYPE html>
<html>
	<head>
		<title>Kahtizzle Board Test</title>
		<!-- <link rel="stylesheet" type="text/css" href="testboard.css" /> -->
	</head>
	<body>
		<h1>Dashboard {{dashboardCtrl.testhex}}</h1>

		<h2>Example Board (Refresh Page for new numbers)</h2>
		<svg width="1200" height="1200">
			<g id="{{$index}}" ng-repeat="hex in dashboardCtrl.allhexes">
				<defs>
					<pattern id="img" patternUnits="userSpaceOnUse" width="1200" height="1200">
						<image ng-href="../images/{{hex.tile_type}}.jpg" xlink:href="" ng-attr-x="{{hex.bgx}}" ng-attr-y="{{hex.bgy}}" width="185" height="160" />
					</pattern>
					<filter id="f1" x="0" y="0">
						<feGaussianBlur in="SourceGraphic" stdDeviation="2" />
				    </filter>
				</defs>
				<!-- TILE START -->
				<polygon ng-attr-points="{{hex.coord[0].cx}},{{hex.coord[0].cy}} {{hex.coord[1].cx}},{{hex.coord[1].cy}} {{hex.coord[2].cx}},{{hex.coord[2].cy}} {{hex.coord[3].cx}},{{hex.coord[3].cy}} {{hex.coord[4].cx}},{{hex.coord[4].cy}} {{hex.coord[5].cx}},{{hex.coord[5].cy}}" fill="url(#img)"/>
				<g ng-if="hex.tile_type !== 'desert'">
					<circle ng-attr-cx="{{hex.coord[0].cx - 90}}" ng-attr-cy="{{hex.coord[0].cy}}" r="33" stroke="black" stroke-width="1" fill="RGB(230,217,185)" filter="url(#f1)" />
					<text fill="RGB(62,62,62)" ng-attr-x="{{hex.coord[0].cx - 90}}" ng-attr-y="{{hex.coord[0].cy - 20}}" font-size="10" text-anchor="middle" alignment-baseline="central">
						{{hex.circle.chance}}%
					</text>
					<text fill="{{hex.circle.color}}" ng-attr-x="{{hex.coord[0].cx - 90}}" ng-attr-y="{{hex.coord[0].cy}}" font-size="36" text-anchor="middle" alignment-baseline="central">
						{{hex.circle.roll}}
					</text>
					<text fill="{{hex.circle.color}}" ng-attr-x="{{hex.coord[0].cx - 90}}" ng-attr-y="{{hex.coord[0].cy + 12}}" font-size="24" text-anchor="middle" alignment-baseline="central">
						{{hex.circle.dots}}
					</text>
				</g>
				<!-- TILE END -->
			</g>
			<circle ng-repeat="vertex in dashboardCtrl.allvertices" ng-attr-cx="{{vertex.x}}" ng-attr-cy="{{vertex.y}}" r="10" stroke="black" stroke-width="1" fill="gray" />
		</svg>
	</body>
</html>